<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="style.css">
    <title>All words</title>
</head>
<body>
    <h1>All Words in Dictionary</h1>
    
    <p><a href="/words/wotd">← Back to Word of the Day</a></p>
    
    <p>Total words: <%= words.length %></p>
    
    <ul>
        <% words.forEach(item => { %>
            <li>
                <strong><%= item.word %></strong> 
                (<em><%= item.part %></em>): 
                <%= item.definition %>
            </li>
        <% }) %>
    </ul>
</body>
</html>