<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style.css">
    <title>Word of the Day</title>
</head>
<body>
     <nav>
        <a href="/">Home</a> |
        <a href="/word/wotd">Word of the Day</a> |
        <a href="/word/allwords">All Words</a>
    </nav>
    
    <h1>Welcome to random word of the day page</h1>
    <p> a random word appears each visit</p>
    <p> here is your word</p>
    <p> <%= word %> - <%= part %></p>
    <p> <%= definition %></p>
</body>
</html>