<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to random word of the day page</h1>
    <p> a random word appears each visit</p>
    <p> here is your word</p>
    <p>Word - part </p>
    <p> Defintion</p>
</body>
</html>